<div class="table-responsive" *ngIf="countries">
  <div class="example-form">
    <mat-form-field class="input-width">
      <mat-label>Search country .. </mat-label>
      <input matInput class="searching-customer" type="text"  placeholder="Search" [(ngModel)]="searchModel" onchange="updateSearchModel($event)" />
    </mat-form-field>
  </div>
    <table class="table table-striped">
      <thead class="header">
        <tr>
          <th>Name</th>
          <th>Region</th>
          <th>Sub Region</th>
          <th>Population</th>
          <th>Coordinate</th>
          <th>Native Name</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let country of countries | searchFilter: searchModel">
          <td>{{country.name}}</td>
          <td>{{country.region}}</td>
          <td>{{country.subregion}}</td>
          <td>{{country.population}}</td>
          <td>{{country.latlng}}</td>
          <td>{{country.nativeName}}</td>
        </tr>
      </tbody>
    </table>
  </div>